/* CSS 작성 */

.Logo {
  width: 176px;
  height: 40px;
  margin-top: 100px;
  margin-bottom: 48px;
}

.Discovery {
}

.DiscoveryHeadline {
  margin-top: 8px;
  width: 366px;
  height: 28px;
}

.title {
  display: inline;

  height: 28px;
  font-weight: 500;
  font-size: 24px;
  line-height: 27.6px;
  text-align: center;
}

.divider {
  content: "";
  display: inline;
  width: 2px;
  height: 20px;
  color: var(--color-gray-text);
}

.sub-title {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.4px;
  color: var(--color-gray-text);
  text-align: center;
  margin-bottom: 5px;
}

.DiscoveryList {
  position: absolute;
  left: -8px;
  width: 1036px;
  height: 1192px;
  margin-top: 24px;
}

.CardLinkColumn1 {
  position: relative;
  float: left;
  width: 243px;
  height: 310px;
  margin: 8px;
  border: 1px solid var(--color-gray-border);
}

.CardLinkColumn1:hover {
  border: 1px solid var(--color-blue);
}

.CardLinkColumn1:hover .angle-right {
  transition: 1s;
  background-color: var(--color-blue);
}
.CardLinkColumn1:hover .angle-right::before {
  content: "구매하기";
  color: var(--color-white);
  font-size: 14px;
  text-align: center;
  margin-left: 20px;
  line-height: 16.8px;
  transition: 1s;
}

.CardLinkColumn1 .logo {
  margin: 14px 22px 14px 21px;
}

.CardLinkColumn2 {
  position: relative;
  float: left;
  margin: 8px;
  width: 502px;
  height: 310px;
  border: 1px solid var(--color-gray-border);
}

.CardLinkColumn2:hover {
  border: 1px solid var(--color-blue);
}

.CardLinkColumn2:hover .angle-right {
  background-color: var(--color-blue);
  transition: 1s;
}
.CardLinkColumn2:hover .angle-right::before {
  content: "구매하기";
  color: var(--color-white);
  font-size: 14px;
  text-align: center;
  margin-left: 20px;
  line-height: 16.8px;
  transition: 1s;
}

.CardLinkColumn2 .logo {
  margin: 20px 28px;
}

.angle-right {
  position: absolute;
  display: flex;
  align-items: center;
  top: 248px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
